GNUmakefile
*.aux
*.log
*.toc
*.o
*.diff
*.orig
pihpsdr
pihpsdr.app
hpsdrsim
wdspWisdom*
*.props
ip.addr
hpsdr.png
.DS_Store
LINUX/SoapySDR
LINUX/SoapyPlutoSDR
LINUX/SoapyRTLSDR
release/LatexManual/piHPSDR-Manual.pdf
wdsp/WDSP_Guide.pdf
wdsp/libwdsp.a
